@import '../../styles/utils/variables.sass'
@import '../../styles/utils/mixins.sass'

.spa-wrapper
  +flex(center, flex-start)
  width: 100%
  min-height: 100vh
  background-color: $app-background

.app-wrapper
  +flex-column(flex-start, center)
  width: $app-width
  padding: 30px 0 25px
  margin: 100px 0
  background-color: $card-background
  box-shadow: $card-box-shadow
